asgiref
click
Django
joblib
nltk
numpy
pandas
python-dateutil
pytz
regex
scikit-learn
scipy
six
sqlparse
threadpoolctl
tqdm
tzdata
setuptools
django-cors-headers
spacy
shap
transformers
tensorflow
tf-keras
